# Integração Python e SQL

### Objetivo:
A integração do Python com o SQL permite que execute comandos SQL diretamente pelo Python no seu banco de dados, isso vai permitir a gente pegar consultas e ja importar elas para dentro de uma análise no Python automaticamente.


### O que vamos precisar
1- Para aprender, vamos usar o SQL server, uma dasferramentas de gerenciamento de banco de dados mais usadas no mercado, (vamos intalar gratuitamente)

2- Um banco de dados para testar -> usaremos o Contoso, disponibilizado pela Microsoft gratuitamente.

### No Python, o que vamos usar.
1- Biblioteca pyodbc -> Oide ser usada com a mesma estrutura para diversos bancos de dados, como SQL Server, MySQL, Oracle, Acesse IBM, etc.

# Biblioteca pyodbc
1- Precisamos criar uma conexão com o banco de dados.

Sintaxe:
    
dados_conexao = ("Driver={SQL Server};" "Server=SeuServidor;" "Database=NomeBaseDados;" )


Se estivessemos usando outro sistema de banco de dados, nosso driver mudaria Para saber outros casos execute: pyodbc.drivers() -> Caso não encontre seu driver ali, basta buscar no google por "driver MeuBancoDeDados for pyodbc" e baixar.

In [ ]:
# instalação da bilbioteca pyodbc
!pip install pyodbc

In [13]:
# Importando biblioteca PYODBC
import pyodbc


#Apontando base de dados
dados_conexao = ("Driver={SQL Server};" "Server=DESKTOP-RR9RQU6;" "Database=ContosoRetailDW;")



#caso precise de login para acessar base de dados:
# dados_conexao = ("Driver={SQL Server Native Client 11.0};" 
#                "Server=NomeDoServer;"
#                "Database=NomeBaseDados;"
#                "UID=login;"
#                "PWD=Senha;")


# realizando conexão com SQL
conexao = pyodbc.connect(dados_conexao)
print("Conexão Bem sucedida")

Conexão Bem sucedida

2- Agora, Precisamos criar o que o pyodbc chama de cursos, que é basicamente quem vai executar os nossos códigos SQL

In [15]:
cursor = conexao.cursor()

3- Agora já podemos executar nossos comandos SQL

Temos 2 opções aqui:
    
    ...Apenas executar comandos SQL que vão acontecer no banco.
    
    ...Executar o comando SQL e armazenar a consulta em uma variavel no Python, como um dataframe pandas.

Vamos usar a 2ª Opção por ser a mais util e a melhor para o nosso objetivo, até porquê normalmente não teremos acesso de edição ao banco de dados (e devemos tomar muito cuidado com isso).

#### dataframe = pd.read_sql("COMANDO_SQL", Conexao) -> vai executar o comando SQL, gerando uma consulta e retornando a resposta dessa consulta para o dataframe.

Para pegar uma tabela inteira do nosso banco de dados, usaremos o comando SQL Select *: "Select" FROM BaseDeDados.tabela

In [18]:
# Opção 1: Apenas xecutar um comando no banco de dados.
#cursor.execute("SELECT TOP(1000)* FROM customers")

#Caso a operação não seja para criar uma consulta e sim um UPDATE, DELETE
#ou CREATE, você precisa fazer um commit da sua operação no banco de dados
#para implementar (não aconselhave se você não tem certeza que pode fazer isso)
#conexao.commit()


# Opção 2: Realizar uma consulta para o banco de dados com pandas
import pandas as pd
produtos_df = pd.read_sql("SELECT * FROM ContosoRetailDW.dbo.DimProduct", conexao)
display(produtos_df[:5])

C:\Users\guina\AppData\Roaming\Python\Python39\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

,ProductKey,ProductLabel,ProductName,ProductDescription,ProductSubcategoryKey,Manufacturer,BrandName,ClassID,ClassName,StyleID,...,UnitCost,UnitPrice,AvailableForSaleDate,StopSaleDate,Status,ImageURL,ProductURL,ETLLoadID,LoadDate,UpdateDate
0,1,0101001,Contoso 512MB MP3 Player E51 Silver,512MB USB driver plays MP3 and WMA,1,"Contoso, Ltd",Contoso,1,Economy,1,...,6.62,12.99,2005-05-03,None,On,None,None,1,2008-05-25 08:01:12,2008-05-25 08:01:12
1,2,0101002,Contoso 512MB MP3 Player E51 Blue,512MB USB driver plays MP3 and WMA,1,"Contoso, Ltd",Contoso,1,Economy,5,...,6.62,12.99,2005-05-03,None,On,None,None,1,2008-05-26 08:01:12,2008-05-26 08:01:12
2,3,0101003,Contoso 1G MP3 Player E100 White,1GB flash memory and USB driver plays MP3 and WMA,1,"Contoso, Ltd",Contoso,1,Economy,1,...,7.40,14.52,2006-05-13,None,On,None,None,1,2008-05-27 08:01:12,2008-05-27 08:01:12
3,4,0101004,Contoso 2G MP3 Player E200 Silver,"2GB flash memory, LCD display, plays MP3 and WMA",1,"Contoso, Ltd",Contoso,1,Economy,1,...,11.00,21.57,2006-12-16,None,On,None,None,1,2008-05-28 08:01:12,2008-05-28 08:01:12
4,5,0101005,Contoso 2G MP3 Player E200 Red,"2GB flash memory, LCD display, plays MP3 and WMA",1,"Contoso, Ltd",Contoso,1,Economy,1,...,11.00,21.57,2006-12-17,None,On,None,None,1,2008-05-29 08:01:12,2008-05-29 08:01:12

In [ ]:
# Desafio Python SQL

### Nesse desafio, vamos fazer uma consulta em SQL com uma condição e fazer o tratamento das informações usando o pandas.

.. Calcule o lucro diario da empresa.

In [24]:
lucro_diario = produtos_df["UnitPrice"].sum()
print("lucro diario de", lucro_diario)

lucro diario de 898141.438